<div>
  <h2>Properties</h2>
  {{#if currentUser}}
    <a href="/properties/form">+ List a Property</a>
  {{/if}}
</div>

{{#if properties.length}}
  <ul>
    {{#each properties}}
      <li>
        <h5>{{this.title}}</h5>
        <p>{{this.cityLocation}}</p>
        <p><strong>{{formatCents this.nightlyRate}}</strong> / night</p>
        <p>Hosted by {{this.firstName}} {{this.lastName}}</p>
        <a href="/properties/show/{{this.propertyId}}">View</a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No properties listed yet.</p>
{{/if}}
