<div>
  <h2>My Dashboard</h2>
  <p>{{currentUser.firstName}} {{currentUser.lastName}} &mdash; {{currentUser.email}}</p>
</div>

<div>
  <div>
    <h4>My Listings</h4>
    <a href="/properties/form">+ New Property</a>
  </div>

  {{#if properties.length}}
    <ul>
      {{#each properties}}
        <li>
          <div>
            <strong>{{this.title}}</strong>
            <span>{{this.cityLocation}}</span>
          </div>
          <div>
            <span>{{formatCents this.nightlyRate}}/night</span>
            <a href="/properties/show/{{this.propertyId}}">View</a>
            <a href="/properties/form?id={{this.propertyId}}">Edit</a>
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>You have no listings yet. <a href="/properties/form">Create your first property.</a></p>
  {{/if}}
</div>
